

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

body{
  background: linear-gradient(90deg,#5fd3c9,#347eec );
  padding: 0px;

}

.container-all{
  width: 400px;
  padding: 6.5% 0 0;
  margin: auto;
}

.ctn-form{
  width: 80%;
  padding: 40px;
  background: #f7f7f7;
}

.logo{
  width: 120px;
  display: block;
  margin: auto;
}

.title{

  margin-top: 20px;
  font-weight: 200px;
  color: #7a7a7a;
}

label{
  display: block;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 300;
  color: #7a7a7a;
}

 input[type="text"],
 input[type="password"]{
   text-align: center;
   width: 100%;
   height: 30px;
   background: rgba(0,0,0,0);
   border: 0px;
   outline: 0px;
   border-bottom: 1px solid rgba(0,0,0,0.12);
   color: #5fd3c9;
   font-size: 16px;
 }

 input[type="submit"]{
   width: 100%;
   height: 50px;
   margin-top: 60px;
   color: white;
   border: 0px;
   background: linear-gradient(45deg, #1de099, #1dc8cd);
   font-weight: 18px;
 }
 input[type="submit"]:hover{
   background: linear-gradient(45deg,#1dc8cd, #1de099);
 }

/*Texto de error*/
  .msg-error{
      color: red;
      display: red;
      margin: 10px;
  }
 /*RESPONSIVE*/

@media screen and(max-widcht: 800px){

    .ctn-text{
      display: none;
    }
    .ctn-form{
      margin: auto;
      width: 100;
      background: white;
    }
}
